# Timezones
While doing time series analysis, one should take into consideration the timezones.

In [11]:
# Fetch the data and load it. 
# We have taken the data from Yahoo Finance website and downloaded the stock prices for Microsoft [ticker: MSFT] from 
# 20 August 2016 to 20 August 2017. 
import pandas as pd
df = pd.read_csv('MSFT.csv', header=0, parse_dates=True, index_col='Date')
df


# Observe that header=0, means that the first row entry should be considered as the header. 
#              parse_dates=True ensures that the Date field is formatted as YYYY-MM-DD
#              index_col='Date' ensures that the Date column is marked as the index/ row label.

                     Close_Price
Date
2017-08-21 09:00:00    44.680000
2017-08-21 09:15:00    45.570000
2017-08-21 09:30:00    45.799999
2017-08-21 09:45:00    46.000000
2017-08-21 10:00:00    45.939999
2017-08-21 10:15:00    45.480000
2017-08-21 10:30:00    45.349998
2017-08-21 10:45:00    45.660000
2017-08-21 11:00:00    45.500000
2017-08-21 11:15:00    46.189999
2017-08-21 11:30:00    44.889999
2017-08-21 11:45:00    45.070000
2017-08-21 12:00:00    44.070000

# Confirm the index/ row label

In [8]:
df.index                              # Observe that the index has a data type of Datetime [Naive].
                                      # Datetime objects are of 2 types:
                                      # 1. Naive Datetime object [Unaware of the timezone information]
                                      # 2. Time zone aware datetime.

DatetimeIndex(['2017-08-21 09:00:00', '2017-08-21 09:15:00',
               '2017-08-21 09:30:00', '2017-08-21 09:45:00',
               '2017-08-21 10:00:00', '2017-08-21 10:15:00',
               '2017-08-21 10:30:00', '2017-08-21 10:45:00',
               '2017-08-21 11:00:00', '2017-08-21 11:15:00',
               '2017-08-21 11:30:00', '2017-08-21 11:45:00',
               '2017-08-21 12:00:00'],
              dtype='datetime64[ns]', name='Date', freq=None)

# Converting Naive DatetimeIndex to Time zone aware DatetimeIndex

In [12]:
df = df.tz_localize(tz='US/Eastern')
df.index                                                     # Observe the timezone information added newly. 
                                                             # Observe that the US Eastern timezone is 4 hours behind the UTC

DatetimeIndex(['2017-08-21 09:00:00-04:00', '2017-08-21 09:15:00-04:00',
               '2017-08-21 09:30:00-04:00', '2017-08-21 09:45:00-04:00',
               '2017-08-21 10:00:00-04:00', '2017-08-21 10:15:00-04:00',
               '2017-08-21 10:30:00-04:00', '2017-08-21 10:45:00-04:00',
               '2017-08-21 11:00:00-04:00', '2017-08-21 11:15:00-04:00',
               '2017-08-21 11:30:00-04:00', '2017-08-21 11:45:00-04:00',
               '2017-08-21 12:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date', freq=None)

# Converting US/Eastern Timezone to Berlin Timezone

In [16]:
df = df.tz_convert(tz='Europe/Berlin')
df.index                                                      # In Berlin its UTC + 2 hours.

DatetimeIndex(['2017-08-21 15:00:00+02:00', '2017-08-21 15:15:00+02:00',
               '2017-08-21 15:30:00+02:00', '2017-08-21 15:45:00+02:00',
               '2017-08-21 16:00:00+02:00', '2017-08-21 16:15:00+02:00',
               '2017-08-21 16:30:00+02:00', '2017-08-21 16:45:00+02:00',
               '2017-08-21 17:00:00+02:00', '2017-08-21 17:15:00+02:00',
               '2017-08-21 17:30:00+02:00', '2017-08-21 17:45:00+02:00',
               '2017-08-21 18:00:00+02:00'],
              dtype='datetime64[ns, Europe/Berlin]', name='Date', freq=None)

# Convert to Calcutta Timezone

In [22]:
df = df.tz_convert(tz="Asia/Calcutta")
df                                                    # Observe that it is 5:30 min ahead of UTC.

                           Close_Price
Date
2017-08-21 18:30:00+05:30    44.680000
2017-08-21 18:45:00+05:30    45.570000
2017-08-21 19:00:00+05:30    45.799999
2017-08-21 19:15:00+05:30    46.000000
2017-08-21 19:30:00+05:30    45.939999
2017-08-21 19:45:00+05:30    45.480000
2017-08-21 20:00:00+05:30    45.349998
2017-08-21 20:15:00+05:30    45.660000
2017-08-21 20:30:00+05:30    45.500000
2017-08-21 20:45:00+05:30    46.189999
2017-08-21 21:00:00+05:30    44.889999
2017-08-21 21:15:00+05:30    45.070000
2017-08-21 21:30:00+05:30    44.070000

# View all possible supported time zones

In [23]:
from pytz import all_timezones
all_timezones                                              # View the summary of all possible timezones available.

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/East-Saskatchewan',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Pacific-New',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

# Using timezone in date_range()

In [36]:
dates = pd.date_range(start='01/01/2018', periods=10, freq='H')   # Here the start date is Jan 01, 2018   
print(dates)                                                      # Total number of periods to be generated from start date = 10
                                                                  # Frequency of Date generation = 'Hourly'     
                                                                  # Here we get Naive Datetime objects [Sans Timezone info]  

# Lets include the timezone information
print()
dates = pd.date_range(start='01/01/2018', periods=10, freq='H', tz='Europe/London')
print(dates)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00', '2018-01-01 03:00:00+00:00',
               '2018-01-01 04:00:00+00:00', '2018-01-01 05:00:00+00:00',
               '2018-01-01 06:00:00+00:00', '2018-01-01 07:00:00+00:00',
               '2018-01-01 08:00:00+00:00', '2018-01-01 09:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='H')

# Using timezones supported by the OS
Until now, we have been using timezones supported by pytz. Now we need to use the timezones supported by the native OS

In [34]:
dates = pd.date_range(start='01/01/2018', periods=10, freq='H', tz='dateutil/Europe/London')
print(dates)

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00', '2018-01-01 03:00:00+00:00',
               '2018-01-01 04:00:00+00:00', '2018-01-01 05:00:00+00:00',
               '2018-01-01 06:00:00+00:00', '2018-01-01 07:00:00+00:00',
               '2018-01-01 08:00:00+00:00', '2018-01-01 09:00:00+00:00'],
              dtype='datetime64[ns, tzfile('GB-Eire')]', freq='H')

# Timezone arithmetics

In [48]:
# First construct a time series with a frequency of 30 min 
dates = pd.date_range(start='01/01/2019 09:00:00', periods = 10, freq='30min')
series = pd.Series(range(10), index=dates)
print(series)
print()
print()

# Now convert this series to Berlin timezone
bSeries = series.tz_localize(tz='Europe/Berlin')
print(bSeries)

# Verify whether the timezone is truely Berlin
bSeries.index                                                                                  # Observe the "dtype" parameter

# Next convert the same time series to Calcutta time zone
print()
cSeries = series.tz_localize(tz='Asia/Calcutta')
print(cSeries)

2019-01-01 09:00:00    0
2019-01-01 09:30:00    1
2019-01-01 10:00:00    2
2019-01-01 10:30:00    3
2019-01-01 11:00:00    4
2019-01-01 11:30:00    5
2019-01-01 12:00:00    6
2019-01-01 12:30:00    7
2019-01-01 13:00:00    8
2019-01-01 13:30:00    9
Freq: 30T, dtype: int64


2019-01-01 09:00:00+01:00    0
2019-01-01 09:30:00+01:00    1
2019-01-01 10:00:00+01:00    2
2019-01-01 10:30:00+01:00    3
2019-01-01 11:00:00+01:00    4
2019-01-01 11:30:00+01:00    5
2019-01-01 12:00:00+01:00    6
2019-01-01 12:30:00+01:00    7
2019-01-01 13:00:00+01:00    8
2019-01-01 13:30:00+01:00    9
Freq: 30T, dtype: int64

2019-01-01 09:00:00+05:30    0
2019-01-01 09:30:00+05:30    1
2019-01-01 10:00:00+05:30    2
2019-01-01 10:30:00+05:30    3
2019-01-01 11:00:00+05:30    4
2019-01-01 11:30:00+05:30    5
2019-01-01 12:00:00+05:30    6
2019-01-01 12:30:00+05:30    7
2019-01-01 13:00:00+05:30    8
2019-01-01 13:30:00+05:30    9
Freq: 30T, dtype: int64

In [50]:
# Lets add the 2 time zones
bSeries + cSeries

# Inference: We got some value(s) for some rows while others time series values were rendered NaN. 
# What happened behind the scenes is: It converted both the time series to UTC [Universal Coordinated Timezone]
# and then printed only those time series values where there was an overlap.

2019-01-01 03:30:00+00:00    NaN
2019-01-01 04:00:00+00:00    NaN
2019-01-01 04:30:00+00:00    NaN
2019-01-01 05:00:00+00:00    NaN
2019-01-01 05:30:00+00:00    NaN
2019-01-01 06:00:00+00:00    NaN
2019-01-01 06:30:00+00:00    NaN
2019-01-01 07:00:00+00:00    NaN
2019-01-01 07:30:00+00:00    NaN
2019-01-01 08:00:00+00:00    9.0
2019-01-01 08:30:00+00:00    NaN
2019-01-01 09:00:00+00:00    NaN
2019-01-01 09:30:00+00:00    NaN
2019-01-01 10:00:00+00:00    NaN
2019-01-01 10:30:00+00:00    NaN
2019-01-01 11:00:00+00:00    NaN
2019-01-01 11:30:00+00:00    NaN
2019-01-01 12:00:00+00:00    NaN
2019-01-01 12:30:00+00:00    NaN
Freq: 30T, dtype: float64